<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>All Questions</title>
</head>
<body>
<p th:text = "'Time on the serverf is ' + ${questions}"></p>
<h1>List of All Questions</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Category</th>
    <th>Option 1</th>
    <th>Option 2</th>
    <th>Answer</th>
  </tr>
  <tr th:each="q : ${questions}">
    <td th:text="${q.id}">1</td>
    <td th:text="${q.questiontitle}">Sample title</td>
    <td th:text="${q.category}">Category</td>
    <td th:text="${q.option1}">Option 1</td>
    <td th:text="${q.option2}">Option 2</td>
    <td th:text="${q.answer}">Answer</td>
  </tr>
</table>
</body>
</html>

<!--<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Title</title>
</head>
<body>
<p th:text = "'Time on the serverrr is ' + ${theDate}"></p>
</body>
</html>-->
